option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: application:application

commands:
  01_upgrade_pip:
    command: "/usr/bin/python3 -m pip install --upgrade pip setuptools wheel"
  02_install_reqs_no_cache:
    command: "/usr/bin/python3 -m pip install --no-cache-dir -r requirements.txt"

container_commands:
  01_cleanup_yum_cache:
    command: "yum clean all || true"
  02_clean_tmp:
    command: "rm -rf /tmp/* || true"